{% extends "base.html" %}
  {% block content %}

    {% for metric in all_metric_last %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">user</th>
            <th scope="col" >steps</th>
            <th scope="col" >distance</th>
            <th scope="col" >burned_calories</th>
            <th scope="col" >pulse</th>
            <th scope="col" >sleep</th>
            <th scope="col" >temperature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" id="user">{{ metric.user }}</th>
            <td id="steps">{{ metric.metric.total_steps }}</td>
            <td id="distance">{{ metric.metric.distance }}</td>
            <td id="burned_calories">{{ metric.metric.burned_calories }}</td>
            <td id="pulse">{{ metric.heart_rate}}</td>
            <td id="sleep">{{ metric.sleep }}</td>
            <td id="temperature">{{ metric.temperature_measurement }}</td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  {% endblock %}